body {
    display: flex;
    justify-content: center;

}

.calculator {
    width: 400px;
    text-align: center;
    background-color: gray;
    height: 300px;
    flex-direction: column;
    /* 세로로 배치 */
    justify-content: center;
    /* 세로 중앙 정렬 */
    align-items: center;
    /* 가로 중앙 정렬 */
}

#display {
    width: 200px;
    height: 50px;
    text-align: right;
    font-weight: bold;


}

.button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    padding: 10px;
}

.btn {
    background-color: black;
    font-weight: bold;
    color: white;

}

#clr {
    grid-column: 2;
}